<% if item_purchase.errors.any? %>
 <div class="error-alert">
   <ul>
     <% item_purchase.errors.full_messages.each do |message| %>
       <li class="error-message">
         <%= message %>
       </li>
     <% end %>
   </ul>
 </div>
<% end %>